.two-in-logo {
    font-size: 22px !important;
    width: 180px !important;
}

.layui-layout-admin .layui-side {
    padding-bottom: 40px;
}

.two-in-title {
    height: 100%;
    display: flex;
    align-items: center;
}

.two-in-title>p {
    font-size: 14px;
    color: #6F6C6C;
    text-align: left;
}

.two-in-login {
    display: flex;
    align-items: center;
}

.two-in-login>a {
    padding: 0 0 0 5px;
}

.two-in-top-approve {
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
}

.two-in-message {
    display: inline-block;
    width: 30px;
    height: 35px;
    position: relative;
}

.two-in-message>span {
    top: 30% !important;
    right: 0;
}

.two-in-data>a {
    padding: 0 10px 0 6px!important;
}

.two-in-menu {
    width: 180px !important;
}

.two-in-menu-one {
    background-color: #009688;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: fixed !important;
    /* top: 60px; */
    left: 0;
    width: 180px !important;
    z-index: 22;
}

.two-in-menu-one>label {
    font-size: 16px;
}

.two-in-menu-one>i {
    padding-left: 20px;
    font-size: 16x;
}

.layui-nav-item>a>i {
    padding: 0 5px 0 0;
}

.two-in-menu-bottom {
    height: 40px;
    width: 180px;
    position: fixed;
    bottom: 0px;
    left: 0;
    background-color: #009688;
    color: #f2f2f2;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-top: 1px solid #23262E;
}

.two-in-con {
    left: 180px !important;
    bottom: 0px !important;
    background-color: #f2f2f2;
    transition: left 0.3s;
    z-index: 10000;
}

.two-all {
    width: 100%;
    position: absolute;
    left: 0 !important;
    z-index: 10000;
    transition: left 0.3s;
}

.showmenu {
    width: 50px;
    height: 35px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 0 17px 17px 0;
    background-color: #009688;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
}

.showmenu i {
    color: #fff;
}

.layui-nav-tree .layui-nav-bar {
    background-color: rgba(0, 0, 0, 0);
}
.layui-nav-tree .nav-show{
    display: none ;
}